.nav-dashboard{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100vw;
    padding: 2rem 1rem;
    
    .logo{
        display: flex;
        align-items:center;
        font-size: 14px;
        font-family: 'Abril Fatface', cursive;
        font-weight: lighter;
        color:var(--color-green);
        text-decoration: none;
        .logo-max {
            display: block;
        }
        .logo-min {
            display: none;
        }
        @media (max-width: 450px) {
            .logo-min {
                display: block;
            }
            .logo-max {
                display: none;
            }
       }


        h1 {
            font-size: 1.2rem;
            }
       } 
       
    .user {
        display: flex;
        align-items:center;
        justify-content:flex-end;
       h1 {
        font-size: 1rem;
        font-weight: 400;
        padding: 0.3rem;
       }

        h2 {
            font-size: 1rem;
            padding: 0.2rem 0.5rem ;
            background-color:var(--color-green) ;
            border-radius: 4px;
            color:var(--color-yellow);
        }

        .logout {
                width: 5rem;
                text-decoration: none;
                text-align: center;
            h3{
               font-size: 1rem;
               font-weight: 400;
               color:var(--color-main-light);
               &:hover {
                color:var(--color-green);
                font-weight: 800;
                }
            }
        }
    }
}

.nav-list{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content:flex-start;
    align-items:flex-start;
    padding-bottom: 0.4rem;
       
    li{
        display: flex;
        flex-direction: row;
        justify-content:center;
        align-items:center;
        text-transform: capitalize;
      
        .admin-link {
            font-size: 1rem;
            color: var(--color-table-dark);
            text-decoration:none;
            font-weight: 800;
            padding-left: 1rem;
           
        }
        .list-link{
            color: inherit;
            text-decoration: inherit;
            padding-left:  3rem;
            opacity: 0.8;
            font-size: 0.9rem;
            &:hover {
                color:var(--color-green);
                font-weight: 800;
            }
        }

        h3 {
            padding-left: 0.4rem;
            color:var(--color-green);
            opacity: 0.8;
            font-size: 0.9rem;
            font-weight: inherit;
        }

        h4 {
            color:var(--color-green);
            text-decoration: inherit;
            padding-left:  3rem;
            opacity: 0.8;
            font-size: 0.9rem;
        }

        .url-name{
            color:var(--color-green);
            font-weight: 800;
        }
    }
}
  
   
    
   
