.card-modal {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    left:0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.65);
    .close-modal{
        position: absolute;
        color:rgb(225, 224, 224);
        border: none;
        background-color: transparent;
        font-size: 2rem;
        top: 0%;
        right:10%;
        cursor: pointer;
        z-index: 5;
    }
    h3{
        color: var(--color-home-font);
        font-size: 1.6rem;
        padding: 0.5rem 0;
    }
    h4{
        font-size: 1rem;
        color: var(--color-blue);
        padding: 1rem 0;
    }
    h5{
        font-size: 1rem;
        color: var(--color-yellow);
        padding: 1rem 0;
    }
    h6{
        font-size: 1rem;
        color: var(--color-green);
        padding: 1rem 0;
    }

    .detail-item{
        position: relative;
        background-color: white;
        color:var(--color-home-font);
        padding: 2rem ;
        display: flex;
        flex-direction: column;
        width: 70%;
        height: 90%;
        gap: 1em;
        overflow: hidden;
        overflow-y: auto;
        border-radius: 10px;
        
        .detail-item-type{
            display: flex;
            align-items: center;
            justify-content:flex-end;
            gap: 1rem;
        }
        .detail-item-voite{
            display: flex;
            justify-content: space-between;
            img{
                width: 1em;
            }
            span{
                color: var(--color-yellow);
            }
        }

        .detail-item-voiting{
            display: flex;
            gap: 1rem;
            input{
            border: 1px solid var(--color-yellow);
            border-radius: 4px;
            padding-left: 0.5rem;
            }
            img{
                width: 1.1rem;
                cursor: pointer; 
            }
        }
    
     
        .votes{
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            .star{
                width: 1.7em;
                height: 1.7em;
            }
            .vote-counts{
                display: flex;
                flex-direction: column;
                color: var(--color-black-light);
                h5{
                    span{
                        font-size: 0.9em;
                    }
                }
            }
        }
    }
        
    img{
        width: 100%;
        border-radius: 0.5em;
    }  

    .description{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: var(--color-black-light);
        gap: 0.8em;
    }

    .comments-write{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        gap: 1rem;
        padding-top: 1rem;
               
        textarea{     
            width: 70%;
            height: 4rem;
            overflow-y: scroll;
            font-size: 1rem;
        }
        .btn-comment{
            background: transparent;
            border: none;
            cursor: pointer;
            border: 1px solid rgb(65,65,65);
            border-radius: 4px;
            padding: 0.5rem;
            transition: all 0.3s ease;
            min-width: 100px;
            &:hover{
                background-color:rgb(65,65,65) ;
                color: white;
            }
        }        
    }

    .comments-read{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: 1rem;
        line-height: 1.5rem;
        width: 100%;
        border: dotted 1px rgb(65,65,65);
        border-radius: 6px;
       
        p{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            width: 100%;
            height: 100%;
            overflow: hidden;
        } 
    }
}

.detail-item::-webkit-scrollbar{
    display: none;
}