.nav-home{
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    padding: 2rem 1rem;
    .logo{
        display: flex;
        align-items:center;
        font-size: 14px;
        font-family: 'Abril Fatface', cursive;
        font-weight: lighter;
        color:var(--color-green);
        text-decoration: none;
        .logo-max {
            display: block;
        }
        .logo-min {
            display: none;
        }
        @media (max-width: 450px) {
            .logo-min {
                display: block;
            }
            .logo-max {
                display: none;
            }
       }


        h1 {
            font-size: 1.2rem;
            }
       } 
       
    .user {
        display: flex;
        align-items:center;
        justify-content: space-between;
        width: 10rem;

        h2 {
            font-size: 1rem;
            padding: 0.2rem 0.5rem ;
            background-color:var(--color-green) ;
            border-radius: 4px;
            color:var(--color-yellow);
        }

        .logout {
                width: 100%;
                text-decoration: none;
                text-align: center;
            h3{
               font-size: 1rem;
               font-weight: 400;
               color:var(--color-main-light);
               &:hover {
                color:var(--color-green);
                font-weight: 800;
                }
            }
        }
    }

} 