:root {
    --color-background:rgb(203, 203, 203);
    --color-background-white:rgb(236, 240, 241);
    --color-main-dark: rgb(29, 30, 31);
    --color-main-light: rgb(128, 130, 130);
    --color-table-dark: #3a3b4d;
    --color-table-light:#b8b8b8;
    --color-table-white:#e8ebec;
    --color-white:#fff;

    --color-home-font: rgb(65, 65, 65);
    --color-home-light: rgb(236, 240, 241);

    --color-gray:#6e6f76;
    --color-green:#0a795c;
    --color-red:rgb(158, 5, 0);
    --color-blue:rgb(43, 33, 104);
    --color-yellow:rgb(245, 187, 11);
}

@import '../pages/error-page/error';
@import '../pages/sign-in/login';
@import '../pages/game-create/create';
@import '../pages/game-edit/edit';
@import '../pages/games-list/styles/item';
@import '../pages/games-list/styles/nav';
@import '../pages/games-list/styles/read';
@import '../pages/home/styles/btn';
@import '../pages/home/styles/cardDetail';
@import '../pages/home/styles/home';
@import '../pages/home/styles/itemHome';
@import '../pages/home/styles/navHome';
@import '../pages/home/styles/search';
@import './spinner';

body,
body * {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box; 
}
body {
    font-family:'Lato', sans-serif;
}

.app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    footer {
        display: flex;
        align-items: center;
        justify-content: center;
        bottom: 0;
        padding: 1rem;
        margin-top: 1rem;
        background-color: var(--color-white);
        text-align: center;
        p {
            font-size: 12px;
            color: inherit;
        }
      }

    .container {
        width: 90vw;
    }
}